@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@layer base {
  body {
    font-family: Pretendard;
  }
}
